<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rinoale.mapper.CommentsMapper">

    <resultMap id="commentsMap" type="com.rinoale.vo.CommentsVo">
        <id     property="seq"    column="seq" />
        <result property="COMMENTS_CONTENT" column="COMMENTS_CONTENT" />
        <result property="parentSeq" column="PARENT_SEQ" />
    </resultMap>

    <select id="select" parameterType="com.rinoale.vo.CommentsVo" resultMap="commentsMap">
        SELECT  * FROM comments
        WHERE
        	PARENT_SEQ = #{parentSeq}
        	
    </select>

    <select id="selectOne" resultMap="commentsMap">
        SELECT  * FROM comments WHERE seq = #{seq}
    </select>

    <insert id="insert">
         INSERT INTO comments (COMMENTS_CONTENT) VALUES (
                #{COMMENTS_CONTENT}
         )
    </insert>

    <update id="update">
         UPDATE comments SET
              COMMENTS_CONTENT = #{COMMENTS_CONTENT},
         WHERE seq = #{seq} LIMIT 1
    </update>

    <delete id="delete">
         DELETE FROM comments WHERE seq = #{seq}
    </delete>

</mapper>
