<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systran.mapper.TbPatternDataMapper">

    <resultMap id="patternDataMap" type="com.systran.vo.TbPatternDataVo">
        <id     property="SEQ"    column="SEQ" />
        <result property="ORG_PTTRN" column="ORG_PTTRN" />
        <result property="TRNST_PTTRN" column="TRNST_PTTRN" />
    </resultMap>

    <select id="select" parameterType="com.systran.vo.IndexVo" resultMap="patternDataMap">
        SELECT  
        	* 
        FROM 
        	TB_PATTERN_DATA
        <if test="sortBy!=null and ASC_or_DESC!=null">
        ORDER BY
        	${sortBy} ${ASC_or_DESC}
        </if>
        <if test="howMany!=0">
        LIMIT 
        	${fromIndex},${howMany}
        </if>
    </select>

    <select id="selectOne" resultMap="patternDataMap">
        SELECT  * FROM TB_PATTERN_DATA WHERE SEQ = #{SEQ}
    </select>

    <insert id="insert">
         INSERT INTO TB_PATTERN_DATA (ORG_PTTRN, TRNST_PTTRN) VALUES (
                #{ORG_PTTRN}, #{TRNST_PTTRN}
         )
    </insert>

    <update id="update">
         UPDATE TB_PATTERN_DATA SET
              ORG_PTTRN = #{ORG_PTTRN}, TRNST_PTTRN = #{TRNST_PTTRN}
         WHERE SEQ = #{SEQ} LIMIT 1
    </update>

    <delete id="delete" parameterType="java.util.List">
         DELETE 
         FROM 
         	TB_PATTERN_DATA 
         WHERE 
         	SEQ IN
         <foreach item="item" index="index" collection="list"
         	open="(" separator=" , " close=")">
         	#{item}
         </foreach>
    </delete>
    
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT  count(*) FROM TB_PATTERN_DATA 
    </select>
    
    <select id="search" parameterType="com.systran.vo.DBSearchVo" resultMap="patternDataMap">
        SELECT *
        FROM 
        	TB_PATTERN_DATA
        WHERE
        	 ${chosen_column} LIKE '%${text_to_search}%'
		<if test="indexVo.sortBy!=null and indexVo.ASC_or_DESC!=null">
        ORDER BY
        	${indexVo.sortBy} ${indexVo.ASC_or_DESC}
        </if>
       	<if test="indexVo.howMany!=0 and indexVo.howMany!=null">
        LIMIT 
        	${indexVo.fromIndex},${indexVo.howMany}
        </if>
    </select>
    
    <select id="searchCount" parameterType="com.systran.vo.DBSearchVo" resultType="java.lang.Integer">
        SELECT count(*)
        FROM 
        	TB_PATTERN_DATA
        WHERE
        	 ${chosen_column} LIKE '%${text_to_search}%'
    </select>
    
    <select id="checkDuplication" resultType="java.util.HashMap">
        SELECT
			A.SEQ, A.ORG_PTTRN, A.TRNST_PTTRN, A.RESULT, B.COUNTOFB
		FROM
		(			
			SELECT  
				SEQ, ORG_PTTRN, TRNST_PTTRN, '1' AS RESULT
			FROM 
				TB_PATTERN_DATA
			WHERE
				ORG_PTTRN='${ORG_PTTRN}'
   		) A 
   		,
   		(
	   		SELECT  
				COUNT(*) AS COUNTOFB
			FROM 
				TB_PATTERN_DATA
			WHERE
				ORG_PTTRN='${ORG_PTTRN}' AND
				TRNST_PTTRN='${TRNST_PTTRN}'
		) B

    </select>
    
    <delete id="deleteAll">
    	TRUNCATE TB_PATTERN_DATA
    </delete>
</mapper>
